@import 'config';



.canvas-group {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 100%;
	gap: 2rem;
	// background-color: green;

	@media (max-width: 768px) {
		width: 100%;
		min-width: 0;
	}
}