/* --------------------------------- COLORS --------------------------------- */
/* --------------------------------- FONTS --------------------------------- */
.canvas-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  gap: 23px;
  background-color: #fdfdfd;
  border-radius: 35px;
}
.canvas-box canvas {
  width: 661px;
  height: 500px;
  border: 2px solid transparent;
  background-color: #2d3139;
  border-radius: 15px;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1450980392);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.canvas-box canvas:hover {
  box-shadow: inset 0px 0px 20px #ff1861;
  border-color: #ff1861;
}
.canvas-box .canvas-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 23px;
  width: 100%;
  height: 50px;
  /* Specific masks for each button */
}
.canvas-box .canvas-buttons .curve-value-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  border: 2px solid transparent;
  border-radius: 7px;
  background-color: #22262e;
  transition: all 0.2s ease-in-out;
  /* Hover effect on the entire box */
  /* Hover and focus effects on input elements */
  /* Hide spinners in Firefox */
}
.canvas-box .canvas-buttons .curve-value-box input {
  transition: all 0.2s ease-in-out;
}
.canvas-box .canvas-buttons .curve-value-box:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  background-color: #ff1861;
}
.canvas-box .canvas-buttons .curve-value-box:has(.btn:hover) {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  background-color: #22262e;
}
.canvas-box .canvas-buttons .curve-value-box:has(input:hover) {
  background-color: #ff1861;
}
.canvas-box .canvas-buttons .curve-value-box input[type=number]::-webkit-outer-spin-button,
.canvas-box .canvas-buttons .curve-value-box input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.canvas-box .canvas-buttons .curve-value-box input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
.canvas-box .canvas-buttons .curve-value-box .curve-values {
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fdfdfd;
  width: 60px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
.canvas-box .canvas-buttons .curve-value-box .curve-values:nth-child(1), .canvas-box .canvas-buttons .curve-value-box .curve-values:nth-child(2), .canvas-box .canvas-buttons .curve-value-box .curve-values:nth-child(3) {
  border-right: 1px solid rgb(202, 202, 202);
}
.canvas-box .canvas-buttons .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  background-color: #fdfdfd;
  transition: all 0.2s ease-in-out;
}
.canvas-box .canvas-buttons .btn.active {
  background-color: #ff1861;
}
.canvas-box .canvas-buttons .btn.active:hover {
  background-color: #fdfdfd;
}
.canvas-box .canvas-buttons .btn.active:hover .setting-btn-icon, .canvas-box .canvas-buttons .btn.active:hover .grid-btn-icon, .canvas-box .canvas-buttons .btn.active:hover .fit-btn-icon, .canvas-box .canvas-buttons .btn.active:hover .save-btn-icon, .canvas-box .canvas-buttons .btn.active:hover .info-btn-icon {
  background-color: #ff1861;
}
.canvas-box .canvas-buttons .btn:hover {
  background-color: #ff1861;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.canvas-box .canvas-buttons .btn:hover .setting-btn-icon, .canvas-box .canvas-buttons .btn:hover .grid-btn-icon, .canvas-box .canvas-buttons .btn:hover .fit-btn-icon, .canvas-box .canvas-buttons .btn:hover .save-btn-icon, .canvas-box .canvas-buttons .btn:hover .info-btn-icon {
  background-color: #fdfdfd;
}
.canvas-box .canvas-buttons .icon-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 10px;
  background-color: #22262e;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* Common mask styles */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.canvas-box .canvas-buttons .icon-btn.active {
  background-color: #fdfdfd;
}
.canvas-box .canvas-buttons .setting-btn-icon {
  -webkit-mask-image: url("../assets/setting.svg");
  mask-image: url("../assets/setting.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.canvas-box .canvas-buttons .grid-btn-icon {
  -webkit-mask-image: url("../assets/grid.svg");
  mask-image: url("../assets/grid.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.canvas-box .canvas-buttons .fit-btn-icon {
  -webkit-mask-image: url("../assets/fit.svg");
  mask-image: url("../assets/fit.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.canvas-box .canvas-buttons .save-btn-icon {
  -webkit-mask-image: url("../assets/save.svg");
  mask-image: url("../assets/save.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.canvas-box .canvas-buttons .info-btn-icon {
  -webkit-mask-image: url("../assets/info.svg");
  mask-image: url("../assets/info.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

#tooltip {
  border-radius: 10px;
  background-color: #ff1861 !important;
}

#modal-tooltip {
  z-index: 1001 !important;
  border-radius: 7px !important;
  background-color: #22262e !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35) !important;
}

@keyframes slideDown {
  from {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}/*# sourceMappingURL=canvasBox.css.map */