@import "config";



.canvas-box {
	display: none;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 25px;
	gap: 23px;
	background-color: $light-secondary-color;
	border-radius: 35px;


	canvas {
		width: 661px;
		height: 500px;
		// min-height: 600px;
		border: 2px solid transparent;
		background-color: $dark-secondary-color;
		border-radius: 15px;
		box-shadow: inset 0px 0px 15px $drop-shadow-color; 

		transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;

		&:hover {
			// box-shadow: inset 0px 0px 35px #bb135356;
			box-shadow: inset 0px 0px 20px $accent-color-1;
			border-color: $accent-color-1;
		}
	}


	.canvas-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 23px;
		width: 100%;
		height: 50px;


		.curve-value-box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			gap: 2px;
			border: 2px solid transparent;

			border-radius: 7px;
			background-color: $dark-primary-color;

			transition: all 0.2s ease-in-out;

			input {
				transition: all 0.2s ease-in-out;
			}

			/* Hover effect on the entire box */
			&:hover {
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
				background-color: $accent-color-1;
			}

			&:has(.btn:hover) {
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
				background-color: $dark-primary-color;
			}
		
			/* Hover and focus effects on input elements */
			&:has(input:hover) {
				background-color: $accent-color-1;
			}

			// hide spinner button for chrome, safari, edge, and opera
			input[type="number"]::-webkit-outer-spin-button,
			input[type="number"]::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			// hide spinner for firefox
			/* Hide spinners in Firefox */
			input[type="number"] {
				appearance: textfield;
				-moz-appearance: textfield;
			}


			.curve-values {
				text-align: center;
				border: none;
				outline: none;
				background-color: transparent;
				color: $light-secondary-color;
				width: 60px;
				padding: 5px;
				font-size: 16px;
				font-weight: bold;
				// transition: all 0.2s ease-in-out;

				
			}

			.curve-values:nth-child(1), .curve-values:nth-child(2), .curve-values:nth-child(3) {
				border-right: 1px solid rgb(202, 202, 202);
			}
		}

		.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 3px;
			border-radius: 5px;
			background-color: $light-secondary-color;
			transition: all 0.2s ease-in-out;

			&.active {
				background-color: $accent-color-1;

				&:hover {
					background-color: $light-secondary-color;
					.setting-btn-icon, .grid-btn-icon, .fit-btn-icon, .save-btn-icon, .info-btn-icon {
						background-color: $accent-color-1;
					}
				}
			}

			&:hover {
				background-color: $accent-color-1;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

				.setting-btn-icon, .grid-btn-icon, .fit-btn-icon, .save-btn-icon, .info-btn-icon {
					background-color: $light-secondary-color;
				}
			}
		}
	
		.icon-btn {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			border-radius: 10px;
			background-color: $dark-primary-color;
			cursor: pointer;
			transition: background-color 0.2s ease-in-out;

			&.active {
				background-color: $light-secondary-color;
			}
			
			/* Common mask styles */
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			-webkit-mask-size: contain;
			mask-size: contain;
		}
	
		/* Specific masks for each button */
		.setting-btn-icon {
			-webkit-mask-image: url('../assets/setting.svg');
			mask-image: url('../assets/setting.svg');
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			-webkit-mask-size: contain;
			mask-size: contain;
		}

		.grid-btn-icon {
			-webkit-mask-image: url('../assets/grid.svg');
			mask-image: url('../assets/grid.svg');
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			-webkit-mask-size: contain;
			mask-size: contain;
		}
	
		.fit-btn-icon {
			// -webkit-mask-image: url('/fit.svg');
			// mask-image: url('/fit.svg');
			-webkit-mask-image: url('../assets/fit.svg');
			mask-image: url('../assets/fit.svg');
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			-webkit-mask-size: contain;
			mask-size: contain;
		}
	
		.save-btn-icon {
			-webkit-mask-image: url('../assets/save.svg');
			mask-image: url('../assets/save.svg');
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			-webkit-mask-size: contain;
			mask-size: contain;
		}

		.info-btn-icon {
			-webkit-mask-image: url('../assets/info.svg');
			mask-image: url('../assets/info.svg');
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			-webkit-mask-size: contain;
			mask-size: contain;
		}
	}

}


#tooltip {
	border-radius: 10px;
	background-color: $accent-color-1 !important;
}

#modal-tooltip {
	// top: 350px !important;
	z-index: 1001 !important;
	border-radius: 7px !important;
	background-color: $dark-primary-color !important;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35) !important;
}


@keyframes slideDown {
	from {
		transform: translate(-50%, -60%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}