




.popup {
    position: fixed;
    padding: 10px 20px;
    background-color: rgba(50, 50, 50, 0.9);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    z-index: 1000;

    // Example of a fade-in & slide-down animation
	&.popup-object-top,
	&.popup-object-right,
	&.popup-object-bottom,
	&.popup-object-left,
	&.popup-cursor-top,
	&.popup-cursor-right,
	&.popup-cursor-bottom,
	&.popup-cursor-left,
	&.popup-screen-top-right,
	&.popup-screen-top-left,
	&.popup-screen-top-center,
	&.popup-screen-bottom-right,
	&.popup-screen-bottom-left,
	&.popup-screen-bottom-center,
	&.popup-screen-right-center,
	&.popup-screen-left-center,
	&.popup-screen-center {
		transform: translateY(-10px) scale(0.9);
		opacity: 0;
		animation: popupFadeIn 0.3s cubic-bezier(0, 1, 0.41, 1.65) forwards;
	}
}

@keyframes popupFadeIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
