@import 'config';



.preset-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    min-width: 185px;
    flex: 1 1 0;
    background-color: $light-secondary-color;
    border: 4px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        border-color: $accent-color-2;
        box-shadow: inset 0px 0px 15px $accent-color-2;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;

        .title {
			position: relative;
            font-size: 16px;
            font-weight: 700;
			width: 100%;
			padding-right: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }

        .copy-btn {
            padding: 5px;
            border-radius: 7px;
            transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

            &:hover {
                background-color: $dark-primary-color;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            }

            &:hover .copy-btn-icon {
                background-color: $light-secondary-color;
            }
        }

        .copy-btn-icon {
            width: 20px;
            height: 20px;
            padding: 2.5px;
            // border-radius: 5px;
            cursor: pointer;
            background-color: $dark-primary-color; /* Define this variable */
            transition: background-color 0.2s ease-in-out;

            /* Apply the mask */
            -webkit-mask-image: url('/copy.svg');
            mask-image: url('/copy.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-size: contain;
            mask-size: contain;
        }
    }

    .body-text {
        font-size: 16px;
        font-weight: 400;
        color: $light-text-body-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        position: relative;
    }
}

.custom-preset-card-tooltip {
    border-radius: 10px !important;
    background-color: $dark-primary-color !important;
    /* Add any additional styles for consistency */
}